body.home {
  background-color: #484848;
}
body {
  background-image: url("miscimgs/DBDLogo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  color: green;
}

.mainimgs {
  max-width: 100%;
  width: 248px;
  height: 248px;
}

.home-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.p1 {
  background-image: url("miscimgs/PerkBG.png");
  background-position: top left;
  background-repeat: repeat-y;
  position: absolute;
  left: 635px;
  top: 75px;
}
.p2 {
  background-image: url("miscimgs/PerkBG.png");
  background-position: top left;
  background-repeat: repeat-y;
  position: absolute;
  left: 482px;
  top: 222px;
}
.p3 {
  background-image: url("miscimgs/PerkBG.png");
  background-position: top left;
  background-repeat: repeat-y;
  position: absolute;
  left: 630px;
  top: 388px;
}
.p4 {
  background-image: url("miscimgs/PerkBG.png");
  background-position: top left;
  background-repeat: repeat-y;
  position: absolute;
  left: 795px;
  top: 222px;
}
.dice {
  position: absolute;
  left: 732px;
  top: 324px;
}

.dice-img {
  width: 65px;
}
/* Tooltip text */
.perk-tip .perk-info {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.perk-tip:hover .perk-info {
  visibility: visible;
}
button {
  width: 10px;
}
